{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <p>ID {{ id }}</p>
    <h3>{{ post.title|upper }}</h3>
    <p>{{ post.text }}</p>
    <p>{{ post.date|date('H:i:s') }}</p>
    {{ 128|price() }}
    Here is the current locale {{ locale }}
    <p>{{ message }}</p>

    <p>Env: {{ app.environment }}</p>
    <p>User: {{ app.user }}</p>
    <p>Request: {{ app.request }}</p>
    <p>Session started: {{ app.session.started }}</p>
    <p>Debug {{ app.debug }}</p>
{% endblock %}